*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: #525252;
}
nav{
    background: #1a1a1a;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo{
    width: 100px;
    border-radius: 90px;
    cursor: pointer;


}

.user{
    width: 40px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 30px;
}

nav ul{
    width: 100%;
    text-align: right;
}

nav li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul a{
    color: white;
    text-decoration: none;
}

.submenu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ;
    
}

.submenu-wrap.open-menu{
    max-height: 400px;
}

.submenu{
    background: white;
    padding: 20px;
    margin: 10px;
}

.userinfo{
    display: flex;
    align-items: center;
}

.userinfo h2{
    font-weight: 500;

}
.userinfo  img{
    width: 60px;
    border-radius: 50%;
}
.submenu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: blue;

}

.submenu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.submenu-link p{
    width: 100%;
}

.submenu-link img{
    width: 40px;
    background:#e5e5e5 ;
    border-radius: 50%;
    padding: 8px;
    margin-right:15px ;
}

.submenu-link span{
    font-size: 22px;
    transition: 0.5s;
}

.submenu-link:hover span{
    transform: translateX(5px);
}

.submenu-link:hover p{
    font-weight: 600;
}